.container {
  display: flex;
  background-color: white;
  border: 1px solid black;
}

.container__btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container__btn img {
  width: 20px;
}

.container input {
  background-color: transparent;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
}
